.bannerSocialSection {
  position: fixed;
  width: 100%;
  height: var(--h-medium);
  color: var(--base-0);
  background-color: var(--base-100);
  border-bottom: solid 1px var(--base-0);
  z-index: 100;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.linksList {
  display: flex;
  gap: var(--sp-24);
  list-style-type: none;
  padding-inline-start: 0;
}

.content a {
  transition: color 200ms ease-out;
}

.content a:hover {
  color: var(--primary-100);
}

/* MOBILE */
@media (max-width: 560px) {
}
