.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-block-start: var(--h-medium);
  padding-inline-start: var(--sp-40);
  border-bottom: solid 2px;
  min-height: var(--sp-48);
}

.brand {
  height: var(--sp-32);
}

.navigationList {
  display: flex;
  padding-inline-start: 0;
  list-style-type: none;
  gap: var(--sp-40);
}

.navigationList a {
  text-decoration: none;
}

.navigationList .active {
  text-decoration: underline;
}

.buttonGroup {
  display: flex;
}

.hamburgerMenu {
  display: none;
}

/* SMALL SCREENS */
@media (max-width: 1340px) {
  .navigationContainer {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--sp-64);
    background-color: var(--base-100);
    border-inline-start: solid 1px var(--base-0);
    min-height: var(--sp-48);
    cursor: pointer;
  }

  .menuIcon {
    color: var(--base-0);
  }
}

/* TABLETS */
@media (max-width: 1000px) {
  .brand {
    height: var(--sp-16);
  }

  .outlineButton {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 560px) {
  .primaryButton {
    display: none;
  }
}
