:root {
  /* Primary */
  --primary-90: hsl(312, 100%, 80%);
  --primary-100: #ff90e8;
  --primary-110: #f76edb;

  /* Secondary */
  --secondary-yellow: #ffc900;
  --secondary-blue: #90a8ed;

  /* Base */
  --base-0: #ffffff;
  --base-20: #f4f4f0;
  --base-40: #999999;
  --base-90: #1a1a1a;
  --base-100: #000000;
}
