@import "./measurement.css";

.container {
  width: 100%;
  max-width: var(--max-column);
  padding-inline: var(--sp-40);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--grid-gap);
  width: 100%;
  max-width: var(--max-column);
  padding-inline: var(--sp-40);
}

/* TABLETS */
@media (max-width: 1000px) {
}
/* MOBILE */
@media (max-width: 560px) {
}
