@import "./measurement.css";

.container {
  width: 100%;
  max-width: var(--max-column);
  margin: 0 auto;
  padding-inline: var(--sp-40);
}

.grid-auto {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-column);
  padding-inline: var(--sp-40);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--grid-gap);
}

.grid-auto-inline {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

/* TABLETS */
@media (max-width: 1000px) {
}
/* MOBILE */
@media (max-width: 560px) {
}
