:root {
  /* Spaces */
  --sp-4: 4px;
  --sp-8: 8px;
  --sp-16: 16px;
  --sp-24: 24px;
  --sp-32: 32px;
  --sp-40: 40px;
  --sp-48: 48px;
  --sp-64: 64px;
  --sp-80: 80px;
  --sp-120: 120px;
  --sp-160: 160px;
  --sp-200: 200px;
  --sp-360: 360px;

  /* Height */
  --h-medium: var(--sp-64);
  /* --h-big: 56px; */

  /* Margin and Gaps*/
  --screen-margin: var(--sp-360);
  --grid-gap: var(--sp-16);
}

@media (max-width: 1340px) {
  :root {
    /* Margin */
    --screen-margin: var(--sp-40);
  }
}
/* TABLETS */
@media (max-width: 1000px) {
  :root {
    --grid-gap: var(--sp-16);
  }
}

/* MOBILE */
@media (max-width: 560px) {
  :root {
    /* Margin */
    --screen-margin: var(--sp-24);
  }
}
