/* DEFAULT TYPOGRAPHY */
body {
  font-family: var(--font-sans);
}

/* DISPLAY MEDIUM */
.display-medium {
  font-family: var(--font-sans);
  font-size: clamp(3rem, 0.632rem + 6.316vw, 6rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* TITLE */
.title-large {
  font-family: var(--font-sans);
  font-size: clamp(2rem, 1.211rem + 2.105vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.title-medium {
  font-family: var(--font-sans);
  font-size: clamp(1.25rem, 0.605rem + 1.053vw, 1.5rem);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.title-small {
  font-family: var(--font-sans);
  font-size: clamp(0.875rem, 0.579rem + 0.789vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.title-extra-small {
  font-family: var(--font-sans);
  font-size: clamp(0.75rem, 0.553rem + 0.526vw, 1rem);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/* BODY */
.body-large {
  font-family: var(--font-sans);
  font-size: clamp(1.15rem, 0.605rem + 1.053vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.body-medium {
  font-family: var(--font-sans);
  font-size: clamp(0.75rem, 0.553rem + 0.526vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.body-small {
  font-family: var(--font-sans);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.body-extra-small {
  font-family: var(--font-sans);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
